{% block title %}

{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ESPIÃO</title>
</head>
<body>
    <h1>Clique no botão</h1>

    <button id="btn1">Não neste</button>
    <button id="btn2">Também não</button>
    <button id="btn3">Ainda não</button>
    <button id="btn4">Não neste</button>
    <button id="btn5">Como me achou?</button>
    <button id="btn">Agora sim!</button>
</body>
</html>

{% endblock %}